@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 60px;
	box-shadow: 0px -1px 3px 0px #008000;
}

.nav-heading{
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	color: #008000;
}

.nav-item{
	list-style: none;
	margin-left: 5rem;
}

.nav-link{
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 400;
	color: #70e000;
}

.nav-link:hover{
	color: #008000;
	text-decoration: underline;
}

.dots{
	display: none;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 4px auto;
	transition: all 0.2s ease-in-out;
	background-color: #70e000;
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 768px){
	.nav{
		position: fixed;
		left: -100%;
		top: 6rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 25px rgba(0,0,0,0.5);
	}

	.nav.active{
		left: 0;
	}

	.nav-item{
		margin: 2.5rem 0;
	}

	.dots{
		display: block;
		cursor: pointer;
	}
	.dots.active .bar:nth-child(2){
		opacity: 0;
	}

	.dots.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.dots.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
}